#content{
    margin-top: 10rem;
}

#page-title h1{
    font-size: 4.2rem;
    padding-top: 2rem;
}

.section-content {
    display: flex;
    align-items: center;
}

#content section:nth-child(even){
    --fonte-color: black;
    --text-color: white;
    --text-bg: #020115;    
}

#content section:nth-child(odd){
    --fonte-color: white;
    --text-color: black;
    --text-bg: white;

    background-color: #020115;
    flex-direction: row-reverse;
}

.text-section{
    font-size: 16px;
    text-align: justify;
    padding: 2rem;
    margin: 3rem;
    border-radius: 0.8rem;
    background-color: var(--text-bg);
    color: var(--text-color);
}

.text-section h1{
    padding-bottom:  20px;
    font-size: 2em;
}

.img-section img{
    width: 40rem;
}

.fonte{
    color: var(--fonte-color);
}

