#content { 
	padding-top: 11.6rem;
	/*padding-left: 1.6rem;*/

	display: flex;
	flex-direction: row;
}

#content h1 {
	font-size: 3.2rem;
}

#content p {
	font-size: 1.6rem;
	text-indent: 1.6rem;

	/*padding-left: 2.6rem;*/
	text-align: justify;
}

#content hr{
	/*height: 100vh;*/
}

#left, #right{
	max-width: 50%;
	margin: 2rem;
}

#content .parte-conteudo{
	padding-bottom: 1.6rem; 
}


