#content p{
    text-indent: 0;
    text-align: justify;
}

#text{
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
}

#text h1{
    font-size: 40px;
    padding: 2rem 0;
}

#invitation{
    background-color:saddlebrown;
    color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0.8rem;
    text-align: center;
    width: 80%;
    display: inline-block; /**/
    font: 100 26px Roboto;
}

#invitation h3{
    margin-bottom: 1rem;
}

#button{
    margin: 4rem 2rem 4rem 2rem;
}

#hero-button{
    color: #020115;
    margin: 4rem;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: white;
    border-radius: 0.8rem;
}