a{
	text-decoration: none;
}

#content h1 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 2rem;
}

#content p {
	font-size: 2rem;
	/* letter-spacing: 0rem; */

	/*padding-left: 2.6rem;*/
	text-align: justify;
	/* margin: auto; */
}

#titulo {
	text-align: center;
	/* color: aliceblue; */
	margin-top: 12rem;
	margin-bottom: 1rem;
	font-size: 4rem;
}

#botoes{
    background-color: #020115;
	text-align: left;
	text-align: center;	
	
}

#lista{
	margin-left: 1.6em;
}

.nav-button{
	background-color: #020115;
	border: none;
	padding: 15px;
	color: aliceblue;
	margin: 0;
}

.nav-button:hover{
	background-color: #1f0460;
}

.tags-item{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-flow: column;
}

.tags-item h2{
	font-size: 30px;
	margin: 2rem 0;
}

.tags-item li{
	list-style: none;
	/* color: #f7fefbd8; */
	text-align: justify;
	font-size: 2rem;
	/* margin-bottom:  0.1rem; */
}

.tags-item p{
	padding-bottom: 0.6rem; 
	text-align: justify;
}

.tags-item li{
	padding-bottom: 0.6rem; 
	text-align: justify;
}

.tags-item .parte-conteudo{
	padding: 1.6rem;
}

.card{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#card-neabi{
	align-items: start;
}

.card section {
	margin: 1.5rem;
}

.card h2{
	margin-top: 2rem;
	margin-bottom: 6rem;
}

.card .img-section{
	width: auto;
}

.card .img-section img {
	width: 25rem;
	height: 35rem;
	border-radius: 0.8rem;
}

#neabi-objetivos{
	background-color: #020115;
	color: white;
}

#Turma .card .text-section {
	width: 155%;
}

.link-image{
	text-align: justify;
	text-decoration: none;
	font-size: 1.5rem;
	color: black;
}
